@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="app-shell @( _isDarkMode ? "theme-dark" : "theme-light")">
    <HeaderShell IsDarkMode="_isDarkMode" OnToggleTheme="ToggleTheme" />

    <MainContentShell>
        @Body
    </MainContentShell>

    <BottomUtilityNavigation IsDarkMode="_isDarkMode" />
</div>

@code {
    private bool _isDarkMode;

    private void ToggleTheme()
    {
        _isDarkMode = !_isDarkMode;
    }
}
